
.primary-clr{
    color: #4E47FF;
}
.btn-clr{
    background-color: #4E47FF;
    color: #FFFFFF;
    font-size: 16px;
    font-family: raleway, sans-serif;
    font-weight: bold;
    border-radius: 7px;
    border: none;
}

.hero{
    background-image: url("Assets/Hero-bg.png");
}

.nav{
    display: flex;
    justify-content: space-between;
    margin-left: 150px;
    margin-right: 150px;
    height: 151px;
    align-items: center;
}
.EDX{
    border: none;
    font-family: Inter, sans-serif;
    font-size: 34px;
}
.sign-up{
    width: 132px;
    height: 48px;
    
}


.headline{
    font-family: Raleway, sans-serif;
    font-size: 65px;
    font-weight: bold;
    margin-top: 158px;
    margin-left: 267.5px;
    margin-right: 267.5px;
    

}
.btn-center{
    display: flex;
    justify-content: center;
}
.sty-focused-btn{
    width: 174px;
    height: 48px;
    margin-top: 37px;
    margin-left:auto;
    margin-right:auto;
    margin-bottom: 152px;
}